{% extends "layout.html" %}

<!-- Main Body Code -->
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} flashmessage" style="width:100%;">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="content">
        <img src="{{url_for('static', filename='DataStore/SchoolLogo/default.svg')}}" alt="" id="logo">
            <div class="formholder">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <center><h1 id="title">Login to VoteFlow</h1></center><br>
                    <label for="schoolselector">School</label>
                    <select name="school" id="schoolselector" class="form-control">
                        <option value="default">SELECT</option>
                        {% for school in schools %}
                            <option value="{{school['school_abbr']}}">{{school['schoolname']}}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <div class="form-group">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                </fieldset>
                <div class="form-group">{{ form.submit(class="btn btn-success submit") }}</div>
                <center>
                    <small class="text-muted">
                        Need An Account? <a class="ml-2" href="{{ url_for('users.school_register') }}">Sign Up Now</a>
                    </small>
                </center>
            </form>
        </div>
    </div>
{% endblock content %}

<!-- Additional JavaScript Code -->
{% block lastscripts %}
    <script>
        schoolselector = document.getElementById("schoolselector").onclick = function changeLogo(){
            var x = document.getElementById("schoolselector").value;
            var link = "{{url_for('static', filename='DataStore/SchoolLogo/')}}" + x + ".svg";
            console.log(link);
            var svgobject = document.getElementById("logo").src = link;
        }
    </script>
{% endblock lastscripts%}

<!-- Additional CSS Code -->
{% block style %}
    <style type="text/css">
    body{
        background-color: rgb(16,16,16);
        color: white;
    }
    .content{
        display: flex;
        flex-direction: row;
    }
    #title{
        font-size: 50px;
    }
    .formholder{
        padding: 80px;
        margin: 5px;
        flex: 9;
    }
    .submit{
        width: 100%;
    }
    #logo{
        padding: 20px;
        flex: 10;
    }
    </style>
{% endblock style%}