{% extends 'polldashboard/polldashboardlayout.html' %}

{% block viewer %}
	 <form method="POST" method="/" class='elecstart' enctype="multipart/form-data">
		<h1 class='display-1'>Edit Flagged Students</h1><br>
		<table class="table table-dark">
			<thead>
				<tr>
				<th scope="col">Student Name</th>
				<th scope="col">Class</th>
				<th scope="col">Section</th>
				<th scope="col"> New Username</th>
				</tr>
			</thead>
			<tbody>
				{% for i in range(flagged | length) %}
				<tr>
					<th scope="row">{{flagged[i].full_name}}</th>
					<td>{{flagged[i].grade}}</td>
					<td>{{flagged[i].section}}</td>
					<td><input type="text" name="d{{i}}" class="form-control" placeholder="Enter Username"></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{{form.submit(class="btn btn-success", style="width: 100%;")}}
	</form>
{% endblock viewer %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block scripts %}
{% endblock scripts %}